@media (max-width: 1400px) {
   header nav .metaMenu {
      display: none;

   }

   header nav ul {
      display: block;
   }

   .banner-1 .banner-1-shpe img {
      width: 32%;
      height: 85%;
      top: 15%;
      left: 60%;
   }
}
@media (max-width: 1250px) {
   .banner-1 .banner-1-info {
      width: 45%;
      position: absolute;
      top: 20%;
      left: 0%;

   }
}
@media (max-width: 1000px) { 
   header nav .metaMenu {
      display: block;

   }
   header nav ul {
      display: none;
   }
.project-section{
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 250px 250px 250px;
}

}
@media(min-width:750px) and (max-width:1133px){
    .why-hire{
   grid-template-columns: 1fr;
   grid-template-rows: 450px 500px;
 }
 .why-hire .hire-reason h4{
 text-align: center;
 font-size: 27px;
 }
 .why-hire .hire-reason h1{
   text-align: center;
 }
 .why-hire .hire-reason hr{
  margin-left: 45%;
 }
 .why-hire .hire-reason p{
  padding-inline: 44px;
 } 
}
@media (max-width: 950px) {
   header nav .metaMenu {
      display: block;
   }

   header nav ul {
      display: none;
   }

   .banner-1 .banner-1-info {
      width: 50%;
      position: absolute;
      top: 15%;
   }

   .banner-1 .banner-1-shpe img {
      width: 48%;
      height: 82%;
      top: 18%;
      left: 53%;
   }
  .modal-content {
    width: 75%;
  }


}
@media (min-width:751px) and (max-width:870px){
.profile-section-2 .part-1{
   transform: translateX(-33px);
}
}
@media (max-width: 750px) {
   header nav .metaMenu {
      display: block;
   }

   header nav ul {
      display: none;
   }

   .banner-1 {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 260px;
   }

   .banner-1 .banner-1-info {
      width: 100%;
  
      position: static;
   }

   .banner-1 .banner-1-info .info-content .content-read {
      padding-left: 22px;
   }

   .banner-1 .banner-1-shpe {
      width: 100%;
      margin-top: 70px;
      height: auto;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .banner-1 .banner-1-shpe img {
      width: 44%;
      height: 95%;
      position: static;
   }

   .banner-1 .banner-1-info .info-content {
      padding-left: 8%;
   }
   .why-hire{
      grid-template-columns: 1fr;
      grid-template-rows: 550px 550px;
    }
    .why-hire .hire-reason h4{
    text-align: center;
    font-size: 27px;
    }
    .why-hire .hire-reason h1{
      text-align: center;
    }
    .why-hire .hire-reason hr{
     margin-left: 45%;
    }
    .why-hire .about-shape .shape img {
      left: 10%;
      top: -11%;
      width: 100%;
  }
    .why-hire .hire-reason p{
     padding-inline: 44px;
    }
.about-section{
   padding-top: 50px;
}

.profile-section-2 .part-1{
  width: 100%;
   margin-bottom: 22px;
}
.profile-section-2 .part-1 .content,.profile-section-2 .part-2 .content{
   justify-content: center;
}
.profile-section-2 .part-2{
width: 100%;
padding-left: 0px;
}
.profile-section-2{
  margin-left: 10px;
}
.skill-card{
   width: 50%;
}
.hire-me-before{
  grid-template-columns: 1fr;
  grid-template-rows: 150px 35px;
}
.hire-me-before .part-1 h1{
   font-size: 33px;
}

.hire-me-before .part-2{
   display: flex;
   justify-content: center;
}


}
@media(min-width:751px) and  (max-width:822px)
{
   .hire-me-before{
      grid-template-columns: 1fr;
      grid-template-rows: 150px 35px;
    }
    .hire-me-before .part-1 h1{
       font-size: 33px;
    }
    
    .hire-me-before .part-2{
       display: flex;
       justify-content: center;
    }
}
@media(max-width:680px)
{
   .project-section{
      grid-template-columns: 1fr;
      padding: 0%;
   }
.project-card{
   width: 400px;
   height: 250px;
   margin-left: 0px;
   margin: auto;

}

     

}