@media(max-width:500px){
   .header-top{
    grid-template-columns: 1fr 1fr;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   }
   
    .share-icons{
        display: none;
    }
    .email-section{
        display: none;
    }
    .contact-area{
        display: none;
    }
    .logo-area img{
        padding-left: 12px;
        width: 50%;
        height: 40%;
    }
.main-actions ul{
    margin-left: 77px;
}
.fa-bars{
  visibility: visible;
}
header{
    grid-template-rows: 100% 0px;
    height: 90px;
}
.logo-area img{
    margin-top: 25px;
    padding-left: 22px;
}

.header-bottum{
    display: none;
}
.banner-1{
    height: 500px;
    margin-bottom: 460px;
}

.banner-1 h1,.banner-1 h2{
    font-size: 63px;
}
.banner-1 img{
    top: 10%;
    left: 7%;
}
.banner-1 span img{
    top: 22%;
    left: 343px;
}
.banner-1 button{
    margin-left: 153px;
}
.banner-1-info{
    height: auto;
    grid-template-columns: 1fr;
    width: 100%;
    left: 0%;
    grid-template-rows: 150px 150px 150px;
}
.info-1,.info-2,.info-3{
    width: 100%;
}
.products{
    grid-template-columns: 1fr;
    grid-template-rows: 120px 120px;
}
.products h1{
    text-align: center;
}

.products p{
    background-position: center 0px;
    padding-left: 0px;
    text-align: center;
}

.products-category ul{
    margin-left: 60px;
}
.categories{
    margin-top: 0px;
    margin-bottom: 123px;
}
.category-row{
    grid-template-columns: 1fr;
    grid-template-rows: 606px 606px 606px;
}
.category-row2{
    grid-template-columns: 1fr;
    grid-template-rows:320px 320px;
}

.prd-card{
    width: 100%;
    margin-inline: 0px;
    margin-bottom: 17px;
}
.category-row-2{
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px;
}

.prd-card1,.prd-card2{
    margin: 0%;
    width: 100%;
    margin-top: 22px;
}
.parts{
    width: 100%;
    border-bottom: 1px solid white;
}
.parts h1{
    font-size: 39px;
    padding-top: 12%;
}

.information{
    grid-template-columns: 1fr;
    grid-template-rows: 170px 170px 170px 170px;
}
.banner-2{
  grid-template-columns: 1fr;
  grid-template-rows: 700px 700px;
}
.bg-info p{
    padding-left: 52px;
}
.bg-info h1{
    padding-left: 0px;
    font-size: 44px;
    padding-left: 40px;
}
.bg-info span{
    padding-left: 0px;
}
.bg-info img{
    margin-top: 12px;
    margin-left: 88px;
  }
  .bg-info button{
    margin-left: 148px;
    margin-top: 22px;
  }
  .client-carousel{
    grid-template-columns: 1fr;
    grid-template-rows: 160px 160px 160px 160px 160px;
  }
.banner-3-container{
    grid-template-columns: 1fr;
    grid-template-rows: 700px 555px;
}
.banner-3-info p{
    padding-left: 0px;
    text-align: center;
    font-size: 19px;
    background-position: 138px 78px;
}

.banner-3-info h1{
    font-size: 45px;
    margin-bottom: 223px;
}
.banner-3-info span{
   padding-right: 3px;
}
.banner-3-info ul{
    top: 29%;
    left: 20%
}
.banner-3-info b{
    padding-right: 2px;
    padding-left: 103px;
}
.banner-3-info button{
    margin-left: 153px
}

.banner-3-img{
    background-position:-19px center;
    background-size: 115% 90%
}
.banner-3 span img{
    visibility: hidden;
}
.banner-3-img img{
    visibility: hidden;
}
.banner-3-img{
    background-position-y: 83px;
}
.Testimonials-content-2,.Testimonials-content-3{
    display: none;
}
.Testimonials p{
    background-position-x: 183px;
}
.Testimonials-content-1{
    width: 100%;
    left: 0%;
}
.photo{
    top: -19%;
    left: 30%;
}
.shop-slider{
    grid-template-columns: 1fr;
    grid-template-rows: 253px 253px 253px 253px 253px;
}
.slide-1{
    margin-bottom: 23px;
  
}
footer{
    grid-template-rows: auto auto;
}
.footer-top{
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 309px 300px 340px;
}

.footer-top ul{
    margin-left: 155px;
}
.footer-top img{ 
    margin-left: 134px;
}
.footer-top p{
    padding-left: 163px;
    text-align: start;
}
.footer-top input,.footer-top button{
    margin-left: 101px;
   
}







}