@media(max-width:500px){
    header{
        grid-template-columns: 1fr 1fr;
    }
    nav{
        padding-right: 0px;
    }
    nav ul{
        display: none;
    }
    .menu-bar{  
        display: block;
    }
    .banner-1{
        height: 325px;
    }
    .banner-1-info{
        width: 100%;
        height: 293px;
        top: 42%;
      }
  
  .banner-1 p {
  padding-top: 12%;
  padding-left: 0px;
  letter-spacing: 0px;
  text-align: center;
}
.banner-1 h1{
    padding-top: 12px;
   padding-left: 0px;
   font-size: 32px;
   text-align: center;
   padding-right: 0px;
}
.banner-1 button{
     transform: translate(133px,55px);
  }
  .banner-1-info h1{
    padding-top: 30px;
    padding-left: 75px;
    -webkit-text-stroke-width: 3px;
    padding-right: 73px;
    font-size: 48px;
 }
 .banner-1-info p{
    padding-top: 22px;
 }
 .banner-1-info button{
    transform: translate(177px,25px);
 }
    .banner-2{
        grid-template-columns: 1fr;
        grid-template-rows: 950px 750px;
        transform: translateY(123px);
    }
    .banner-2-img .layer-2{
      left: 0%;
      display: flex;
      justify-content: center;
      }
    .banner-2-img .layer-2 img{
        width: 99%;
        border-radius: 23px;
    }

    .banner-2-img figure{
        position: absolute;
       top: 55%;
        right: 0%;
    }
    .banner-2-img figure img{
       width: 272px;
       height: 408px;
    }
.banner-2-info p{
    font-size: 48px;
    margin-left: 33px;
    margin-right: 20px;
}
.patient-stories{
    grid-template-columns: 1fr;
    grid-template-rows: 300px 750px;
    padding-bottom: 0%;
}
.stories-section{
    width: 100%;
}
.stories-effects{
    width: 100%;
}

.stories-section h1{
    font-size: 52px;
    padding-top: 0px;
    text-align: center;
}
.stories-section button{
    margin-left: 124px;
}

.default-section{
    transform: translateX(0px);
    width: 100%;
    visibility: hidden;
}

.box-1{
    right: 0%;
    top: -52px;
}
.story-1,.story-2,.story-3{
    width: 227  px;
    height: 577px;
    top: 0%;
    left: 2%;
}
.story-2{
    left: 52%;   
    top: 5%;
}
.story-3{
    /* display: none; */
}
.story-2:hover{
    margin-left: -12px;
}
.clinic-info{
    grid-template-columns: 1fr;
    grid-template-rows: 750px 750px;
    padding-bottom: 0;
    margin-top: 10px;
}
.clinc-info-img img{
  /* display: none; */
  width: 100%;
  border-radius: 23px;
  height: 600px;
}
.about-dentist h1{
    font-size: 47px;
     text-align: center;
    padding-top: 0px;
   padding-left: 0px;
    padding-right: 0px;
  }
  .about-dentist hr{
    transform: translate(182px,33px);
  }
  .clinic-info{
   transform: translateY(-123px);
  }
  .about-dentist p{
    padding-left: 43px;
  }
  .about-dentist span{
    padding-inline: 33px;
  }
  .box-3{
    top: 95%;
    left: 12%;
  }
/* clinic -info start */
.discover-area{
    padding-top: 0%;
    padding-bottom: 150px;
}

.centered-div{
    height: auto;
     grid-template-columns: 1fr;
     grid-template-rows: 120% 100%;
}
.dentists-facts{
    width: 100%;
}
.about-facts{
   width: 100%;
   overflow-x: hidden;
   left: 0%;
}
.discover-area-info h1{
    font-size: 47px;
}
.discover-area-info span{
    font-size: 47px;
}
.teeth-contrast{
    margin-top: 500px;
}
.teeth-contrast{
    width: 100%;
    height: 280px;
 }
.contrast-section{
    width: 453px;
    height: 157px;
}

.teeth-contrast .upbox{
       top: 30%;
       left: 0%;
 }
 .banner-3{
   background-repeat: unset;
    grid-template-columns: 1fr;
    grid-template-rows: 547px 547px;
   }
   .banner-3-info,.form-section{
    background: url(image/bn-3.jpg);
    background-size: 100% 100%;
}
.banner-3-info h1{
    padding-left: 74px;
    padding-top: 85px;
   -webkit-text-stroke-width:1px;
  }
 
  .banner-3-info p{
    font-size: 15px;
     padding-inline-start: 63px;
     padding-inline-end: 60px;
  }
  
   .map-area{
    width: 100%;
    height: auto;
  }
  .map-area h1{
    text-align: center;
    font-size: 57px;
    padding-top: 43px;
    font-family: Montserrat;
    -webkit-text-stroke-width: 4px;
  }
  .map-area hr{
    transform: translate(192px,33px);
  }
  .map-section{
    width: 93%;
    height: 300px;
  }
  .map-section h2{
    font-size: 16px;
    padding-top: 30px;
  }
  .content{
    padding-top: 123px;
    grid-template-columns: 1fr;
  }
  .slider{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px 280px;
   }
   .slider img{
    width: 150px;
    height: 100px;
    text-align: center;
   }
   .content-2 p{
    color: white;
    font-size: 18px;
    padding-top: 53px;
    text-align: center;
    padding-inline: 22px;
    line-height: 33px;
   }
/* clinic -info ens */
.inner-form{
  width: 456px;
  height: 387px;
  background-color: white;
  transform: translate(14px,62px);
 }



/* <!-- ---------- --> */

.inner-form .progress_details{
  display: none;
}


/* <!-- ---------- --> */

.inner-form h4{
  padding: 0px;
}

.inner-form .services{
  grid-template-columns: 1fr;
}

.inner-form .services .category label{
  margin-top: 15px;
}

.inner-form .services .category select{
  width: 100%;
}


/* <!-- ---------- --> */

.inner-form .available{
display: none;
}


/* <!-- ---------- --> */

.inner-form .timing{
display: none;
}


.clinic-info input[type="submit"]{
margin-top: 10px;
}
footer p{
  padding-inline: 5px;
  padding-top: 53px;
}



}