*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 111px;
}

.logo-area{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    padding-left: 12px;
}
nav{
    /* border: 1px solid black; */
    padding-right: 85px;
    position: relative;
}
nav ul{
   float: right;
}
nav ul li span{
    position: absolute;
    top: 15%;
    right: 0%;
    font-size: 20px;
}

nav ul li{
    display: inline-block;
    padding: 23px;
    line-height: 63px;
    position: relative;
    font-size: 13px;
}
.dropdown-1{
    width: 200%;
    height: 100%;
    position: absolute;
    top: 80%;
    left: 0%;
    z-index: 1;
    display: none;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dropdown-1 ul{
    float: none;
}
.dropdown-1 ul li{
    display: block;
    padding: 0%;
    padding-top: 22px;
    text-align: center;
    line-height: normal;
    font-size: 15px;
}
nav ul li:hover .dropdown-1{
    display: block;
} 
.menu-bar{
    display: flex;
    gap: 22px;
    position: absolute;
    top: 42%;
    right: 7%;
    display: none;
}
.menu-bar a{
   font-size: 20px;
   margin-left: 12px;
}
/* banner-1-start */
.banner-1{
    width: 100%;
    height: 750px;
    /* border: 1px solid black; */
    background: url(image/splash.jpg);
    background-size: cover;
    position: relative;
}
.banner-1 p{
  color: rgb(231, 228, 228);
   padding-top: 200px;
   letter-spacing: 5px;
   padding-left: 123px;
}
.banner-1 h1{
    color: white;
    font-size: 77px;
    padding-top: 12px;
   padding-left: 123px;
   padding-right: 534px;
   font-family: Montserrat;
  }
  .banner-1 button,.banner-1-info button{
    width: 170px;
    height: 50px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background: transparent;
    font-size: 19px;
     transform: translate(143px,105px);
     cursor: pointer;
  }
  .banner-1 button:hover{
    background-color: white;
    color: rgba(153,168,51,1); 
  }
  .banner-1-info{
    width: 421px;
    height: 393px;
    /* border: 1px solid black; */
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: absolute;
    top: 75%;
    right: 0%;
  }
 .banner-1-info h1{
    padding-top: 52px;
    padding-left: 75px;
    font-weight: bold;
    font-size: 58px;
    -webkit-text-stroke-width: 2px;
    color: black;
    padding-right: 0px;
 }
 .banner-1-info p{
    padding-top: 18px;
    padding-left: 0px;
    text-align: center;
    letter-spacing: 0px;
    color: black;
 }
 .banner-1-info button{
    transform: translate(123px,44px);
    background-color: rgba(153,168,51,1);
    color: rgba(255,255,255,1);
    border-color: rgba(153,168,51,1);
    }

    .banner-1-info button:hover{
        background-color: rgb(126, 138, 49);
        color: white;
    }
/* banner-1-end */
/* banner-2-start */
.banner-2{
    width: 100%;
    height: auto;
    transform: translateY(180px);
    display: grid;
    grid-template-columns: 5.5fr 4.5fr;
    padding-bottom: 200px;
}
/* banner-2-end */
.banner-2-img{
    /* border: 1px solid black; */
    position: relative;
}

.banner-2-info p{
    font-size: 68px;
    margin-top: 103px;
   font-family: Montserrat;
    -webkit-text-stroke-width: 3px;
    margin-left: 52px;
    margin-right: 70px;
}
.banner-2-info b{
    -webkit-text-stroke-width: 1px;
    font-weight: normal;
}
.banner-2-info h4{
    font-size: 22px;
    margin-top: 65px;
    margin-inline: 52px;
    color: gray;
    line-height: 39px;
}
.banner-2-info span{
    margin-inline: 55px;
    font-size: 17px;
    line-height: 33px;
    display: block;
    margin-top: 22px;
}
.dotted-div{
    width: 450px;
    height: 635px;
    margin-top: 34px;
    background-size: 100%;
    background: url(image/dots.png);
    background-size: 70%;
}
.banner-2-img .layer-2{
    position: absolute;
    display: block;
    top: 10%;
    left: 4%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.banner-2-img figure{
    position: absolute;
   top: 55%;
    left: 39%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.patient-stories{
    width: 100%;
    height: auto;
    margin-top: 200px;
   padding-bottom: 130px;
    display: grid;
    grid-template-columns: 3fr 7fr;
}
.box-1{
    width: 154px;
    height: 134px;
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    position: absolute;
    top: -13%;
    right: 0%;
}
.stories-section h1{
    font-size: 62px;
    padding-top: 184px;
    font-family: Montserrat;
    font-weight: bold;
    padding-left: 22px;
    -webkit-text-stroke-width: 2px;
}
.stories-section button{
    height: 38px;
    width: 170px;
    border: none;
    transform: translate(23px,53px);
    border: 1px solid rgba(153,168,51,1);
    background: transparent;
    color: rgba(153,168,51,1);
}
.stories-section button:hover{
background-color: rgba(153,168,51,1);
color: white;
}

.stories-effects{
    position: relative;
}
.default-section{
    width: 700px;
    height: 577px;
    /* border: 1px solid black; */
    background: url(image/dots.png);
    background-size: 422px;
    transform: translateX(88px);
}
.story-1,.story-2,.story-3{
    width: 227px;
    height: 577px;
    background: url(image/s1.jpg);
    background-size: 100% 100%;
    position: absolute;
    top: 6%;
    left: 18%;
    transform: scale(1);
    transition: 0.3s;
}
.story-2{
    left: 45%;   
    top: 12%;
    background: url(image/s2.jpg);
    background-size: 100% 100%;
}
.story-3{
    left: 72%;
    top: 2%;
    display: block;
    background: url(image/s3.jpg);
    background-size: 100% 100%;
}
.story-1::before,.story-2::before,.story-3::before{
    content: "";
    width: 100%;
    height: 100%;
   background-color: rgba(12, 12, 12, 0.3);
   position: absolute;
   top: 0%;
   left: 0%;
   transition: 0.2s;

}
.story-1:hover::before,.story-2:hover::before,.story-3:hover::before{
    background: transparent;
    transition: 0.2s;
}
.story-1 p,.story-1 span,.story-2 p,.story-2 span,.story-3 p,.story-3 span{
  color: white;
  text-align: left;
  text-indent: 32px;
  display: block;
  font-size: 17px;
  font-family: Montserrat;
}
.story-1:hover,.story-2:hover,.story-3:hover{
    width: 237px;
    height: 587px;
    transition: 0,3s;
    margin-top: -12px;
}

.story-1 p,.story-2 p,.story-3 p{
    padding-top: 505px;
    -webkit-text-stroke-width: 2px;
}
.story-1 span,.story-2 span,.story-3 span{
    font-family: sans-serif;
}
.inner-effect{
    width: 100%;
    height: 33%;
    position: absolute;
    top: 67%;
    background: rgba(42,41,46,255);
    border: 1px solid rgb(62, 60, 60);
    display: none;
}
.inner-effect p,.inner-effect h3,.inner-effect span{
    text-indent: 0px;
    padding-top: 0%;
    color: white;
    text-align: left;
    text-indent: 42px;
}
.inner-effect p{
    font-size: 14px;
    padding-top: 32px;
    color: rgb(135, 131, 131);
}
.inner-effect h3{
    font-weight: normal;
    padding-top: 6px;
}
.inner-effect span{
    display: block;
    font-size: 12px;
    text-align: center;
    text-indent: 0%;
    padding-inline: 34px;
    padding-top: 12px;
    color: rgb(135, 131, 131);
}
.inner-effect h5{
    color: yellow;
    font-size: 17px;
    text-align: center;
    background: url(image/vase.jpg);
    background-position-y: 13px;
    background-position-x: 170px;
    background-repeat: no-repeat;
    background-size: 23px 23px;
    padding-top: 13px;
    padding-left: 4px;
  font-family: Montserrat;
    
}
.story-1:hover .inner-effect,.story-2:hover .inner-effect,.story-3:hover .inner-effect{
    display: block;
    left: 0%;
    transition: 0.4s;
}
/* .xtd-shadow--normal-light {
    box-shadow: 1.25rem 1.375rem 2.75rem 0rem rgba(0, 0, 0, 0.22) !important;
} */
/* clinic-info-start */
.clinic-info{
    width: 100%;
    height: auto;
    padding-bottom: 140px;
    display: grid;
    grid-template-columns: 5.5fr 4.5fr;
    grid-template-rows: auto auto;
}
 .about-dentist{
    /* border: 1px solid black; */
    position: relative;
 }
 .clinc-info-img{
   background: url(image/dots.png);
   background-size: 250px;
   position: relative;
 }
 .clinc-info-img img{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  transform: translateY(73px);
 }
  .box-2{
    width: 234px;
    height: 234px;
    background:white;
    box-shadow: 1.25rem 1.375rem 4.75rem 0rem rgba(0, 0, 0, 0.22);
    position: absolute;
    top: 25%;
    left: 17%;
    z-index: -1;
  }
  .box-3{
    width: 72px;
    height: 72px;
    background:white;
    box-shadow: 1.25rem 1.375rem 4.75rem 0rem rgba(0, 0, 0, 0.22);
    position: absolute;
    top: 103%;
    left: 27%;
  }
 
  .about-dentist h1{
    font-size: 77px;
    font-weight: normal;
    padding-top: 80px;
   padding-left: 163px;
    /* padding-right: 214px; */
  }
  .about-dentist hr{
    width: 100px;
    background: rgba(153,168,51,1);
    font-weight: bold;
    height: 3px;
    transform: translate(172px,33px);
  }
  .about-dentist p{
    font-size: 24px;
    line-height: 42px;
    display: block;
    color: rgb(176, 170, 170);
    padding-left: 153px;
    transform: translateY(66px);
  }
  .about-dentist span{
    padding-top: 94px;
    font-size: 15px;
    color: rgb(176, 170, 170);
    display: block;
    line-height: 30px;
    padding-left: 153px;
  }
  .about-dentist .span2{
    padding-top: 10%;
    
  }
 /* clinic-info-end */
 /* discover-area start */
.discover-area{
   width: 100%;
   height: auto;
   padding-bottom: 200px;
   /* border: 1px solid black; */
  padding-top: 5%;
}
.centered-div{
    width: 100%;
    /* height: 60%; */
    /* border: 2px solid blue; */
     display: grid;
     grid-template-columns: 4.5fr 5.5fr;
}
.discover-area-info{
    /* border: 1px solid black; */
    position: relative;
}
.discover-area-info h1{
    font-size: 57px;
   font-family: Montserrat;
   -webkit-text-stroke-width: 2.5px;
   /* text-align: center; */
   text-indent: 22px;
}
.discover-area-info span{
    font-size: 57px;
    padding-top: 123px;
    font-weight: bolder;
    display: block;
    font-family: Montserrat;
     text-indent: 12px;
}
.discover-area hr,.map-area hr{
    width: 90px;
    background: rgba(153,168,51,1);
    font-weight: bold;
    height: 3px;
    transform: translate(22px,33px);
  }
.discover-area p{
     font-size: 24px;
     padding-top: 72px;
     color: rgb(157, 153, 153);
   padding-inline: 32px;
   line-height: 37px;
}
.discover-area button{
    transform: translate(22px,32px);
    width: 250px;
    height: 40px;
    font-size: 16px;
    background-color: white;
    color: rgba(153,168,51,1); 
    border: 1px solid rgb(137, 151, 43);
    transition: 0.3s;

}
.discover-area button:hover{
    background-color: rgba(153,168,51,1);
    color: white;
    transition: 0.3s;
}

.dentists-facts{
    background: url(image/dots.png);
    background-size: 40%;
    position: relative;
}
.about-facts{
    width: 620px;
    height: 400px;
    background: white;
    box-shadow: 1.25rem 1.375rem 4.75rem 0rem rgba(0, 0, 0, 0.22) !important;
    position: absolute;
    top: 25%;
    left:6%;
    /* display: none; */
    display: grid;
    grid-template-rows: 50% 50%;
    }
    .fact-row,.fact-row-1{
        /* border: 1px solid black; */
        display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr; 
         grid-template-rows: 100%;
    } 
    .fact{
        /* border: 1px solid black; */
    }
    .fact-row-1 .fact img{
    margin-top: 52px;
    margin-bottom: 0px;

    }
  .fact img{
    width: 60%;
    height: 47%;
    margin: 43px;
    margin-top: 22px;
    margin-bottom: 0px;
  }
    .fact p{
        font-size: 16px;
        padding-top: 0px;
        color: black;
      padding-inline: 0;
      line-height: normal;
      /* text-align: center; */
      text-indent: 64px;
     
    }
 /* discover-area end */
 .upbox{
    width: 107px;
    height: 107px;
    position: absolute;
    top: -12%;
    right: 3%;
    background: white;
    box-shadow: 1.25rem 1.375rem 4.75rem 0rem rgba(0, 0, 0, 0.22);
 }
 .teeth-contrast{
    width: 100%;
    height: 480px;
    /* border: 1px solid black; */
    position: relative;
 }
 .teeth-contrast .upbox{
    z-index: -1;
       top: 60%;
       left: 15%;
 }
 .contrast-section{
    width: 812px;
    height: 281px;
    margin: auto;
     transform: translateY(53px);
    /* border: 1px solid black; */
    position: relative;
    transition: 0.7s;
 }
 .contrast-section::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: transparent;
 }
 .contrast-section:hover::before{
    background-color: rgb(37, 35, 35,.6);
    transition: 0.7s;
 }
   /* banner-3-start */
   .banner-3{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    background: url(image/bn-3.jpg);
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 847px;
   }
   .form-section,.banner-3-info{
    /* border: 1px solid black; */
   }
   .inner-form{
    width: 706px;
    height: 490px;
    padding: 40px;
    background-color: white;
    transform: translate(22px,192px);
   }
  .banner-3-info h1{
    color: white;
    font-size: 57px;
   font-family: Montserrat;
 padding-left: 94px;
 padding-top: 248px;
   -webkit-text-stroke-width:1px;

  }
  .banner-3-info h1 span{
    font-family: Montserrat;
    font-weight: normal;
    -webkit-text-stroke-width:1px;
  }
  .banner-3-info p{
    color: white;
    font-size: 18px;
    margin-top: 57px;
     line-height: 33px;
     padding-inline-start: 83px;
     padding-inline-end: 105px;
  }
  .map-area{
    width: 100%;
    height: auto;
  }
  .map-area h1{
    text-align: center;
    font-size: 87px;
    padding-top: 133px;
    font-family: Montserrat;
    -webkit-text-stroke-width: 4px;
  }
  .map-area hr{
    transform: translate(592px,33px);
  }
  .map-section{
    width: 1022px;
    height: 500px;
    margin: auto;
    margin-top: 123px;
  }
  .map-section img{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .map-area h2{
    text-align: center;
    font-weight: normal;
    font-size: 19px;
    padding-top: 100px;
  }
  .content{
    width: 100%;
    height: auto;
    display: grid;
    padding-top: 123px;
    grid-template-columns: 1fr 1fr;
  }
  .content p{
    text-indent: 82px;
    
  }
  .content span{
     /* text-align: center; */
     padding-top: 20px;
     display: block;
     padding-bottom: 55px;
     color: rgb(161, 156, 156);
     line-height: 22px;
     padding-inline: 83px;
     

    }
  
   /* banner-3-end */
   .client-carousel{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
   }
   .slider{
    width: 80%;
    margin: auto;
    height: auto;
    padding-top: 94px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 180px;
   }
   .slider img{
    filter: opacity(0.5);
   }
   .slider img:hover{
    filter: grayscale(1);
    

   }
   /* content-2-start */
   .content-2{
    width: 100%;
    height: 174px;
    /* border: 1px solid black; */
    background: #9aac34 url(image/rmkda.png);
    background-size: contain;
   }
   .content-2 p{
    color: white;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    padding-top: 39px;
    padding-inline: 123px;
   }
    .content-2 p a{
    color: white;
    text-decoration: underline;
   }
  

/* <!-- ---------- --> */

 .progress_details{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
 .progress_details .progress .line{
    width: 100%;
    height: 15px;
    background-color: #bec3c7;
    margin-top: 5px;
}

 .progress_details .progress{
    padding-left: 5px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #515050;
}
 .progress_details .active{
    color: #9aaa34;
}
 .progress_details .active .line{
    background-color: #9aaa34;
}


/* <!-- ---------- --> */

.inner-form h4{
    padding: 20px 0px;
    font-size: 18px;
    color: #515050;
}

.inner-form .services{
    /* border: 2px solid darkgoldenrod; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.inner-form .services .category label{
    display: block;
    font-size: 17px;
    font-weight: bold;
    color: #9aaa34;
}

.inner-form .services .category select{
    width: 94%;
    height: 30px;
    font-size: 15px;
    border: 1px solid silver;
    color: #515050;
    margin-top: 5px;
}


/* <!-- ---------- --> */

.inner-form .available{
    /* border: 2px solid darkgreen; */
    width: 80%;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #515050;
    padding-top: 20px;
}

.inner-form .available .days input{
    width: 90%;
    height: 34px;
    font-size: 15px;
    color: #515050;
    background-color: #eceeef;
    border: 1px solid silver;
    margin-top: 5px;
}

.inner-form .available .days .right{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #9aaa34;
    margin-top: 12px;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
}


/* <!-- ---------- --> */

.inner-form .timing{
    /* border: 2px solid red; */
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #515050;
    padding-top: 20px;
}

.inner-form .timing .time .fix{
    width: 90%;
    height: 30px;
    font-size: 15px;
    color: #515050;
    text-align: center;
    line-height: 28px;
    border: 1px solid silver;
    margin: 5px 0px 15px;
}

.inner-form .timing .time .fix i{
    font-size: 12px;
    color: #515050;
    margin-left: 15px;
}


/* <!-- ---------- --> */

.inner-form input[type="submit"]{
    width: 120px;
    height: 35px;
    background-color: #9aaa34;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin-top: 15px;
    cursor: pointer;
}
   /* content-2-end */

/* footer-start */
footer 
{
      width: 100%;
    height: 401px;
    background: #1b1c21;
    border-bottom: 3px solid gray;
    position: relative;
    text-align: center;
    padding-top: 50px;
}
footer p{
  color: rgb(131, 127, 127);
  text-align: center;
  line-height: 22px;
  padding-inline: 303px;
  padding-top: 123px;
}
footer ul li{
  display: inline-block;
  padding-left: 12px;
  padding-top: 73px;
}

footer ul li a{
  color: white;
}

/* footer-end */

   
  
 
